@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Twinkle+Star&display=swap');

*{margin:0; padding:0;}

body {
    background-color: white;
}

header, img {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #71C5E8;
    text-align: center;
    padding-top: 10px;
}

a {
    font-size: 1.5rem;
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
}

.a-menu {
    margin-right: 40px;
}

.a-menu:link, .a-menu:visited {
    color: #fff;
}

.a-menu:hover, .a-menu:active {
    color: #757575;
}

/*a:link{} assim que é carregado */
/*a:visited{} depois que ele foi visitado*/
/*a:active{} quando ele está apertado*/
/*a:hover{} quando passa o mouse sobre*/

article {
    width: 100%;
    background-color: #fff;
    padding: 0px 30px 30px 30px;
    box-sizing: border-box;
}

h1 {
    font: 1.6rem 'Twinkle Star', cursive;
    text-align: center;
    padding: 15px;
}

p {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    /*text-indent: 20px;  */
}

#txt-negrito {
    font-weight: bold;
}

section {
    padding: 20px;
}

#pag-fantasias {
    background-color: #71C5E8;
}

h2 {
    font: 1.8rem 'Twinkle Star', cursive;
    color: #212121;
    text-align: center;
    margin-bottom: 20px;;
}

#lista {
    width: 300px;
    margin: 0 auto;
    list-style-type: square;
    /*list-style-image: adiciona uma imagem ao marcador*/
    padding:  20px 50px;
}

#lista li {
    font: 1.2rem 'Patrick Hand', cursive;
    color: black;
    display: inline-;
}

.container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.card {
   width: 300px;
    margin: 30px;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgb(156, 154, 154);
    transition: 0.5s
}

.card:hover {
    box-shadow: 0 8px 16px rgb(156, 154, 154)
}

.video {
    width: 300px;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

video {
    width: 300px;
    border-radius: 8px;
}

.img-fantasias {
    height: 320px;
    border-radius: 8px;
}

h3 {
    font: 1.2rem 'Patrick Hand', cursive;
    color: #535353;
    text-align: center;
    margin-top: 5px;
}

#pag-criancas {
    background-color: rgb(236, 234, 234);
}

.img-crianca {
    height: 320px;
    border-radius: 8px;
}

#pag-aromatizantes {
    background-color:  #71C5E8;
}

.img-aromat {
    height: 320px;
    border-radius: 8px;
}

#pag-contatos {
    background-color: rgb(236, 234, 234);
}


.container-contatos {
    display: flex;
    justify-content: center;
    align-content: center;
}

.icone {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

footer {
    background-color: #fff;
    padding: 20px;
}

/* página encomendas*/
.pag-encomendas {

}

form {
    width: 400px;
    margin: 0 auto;
}

input, select, textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
}

label, fieldset, select {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
    color: black;
}

fieldset {
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
}

#data-hora-quant {
    display: flex;
    margin: 0 auto;
}

.dth {
    margin-right: 10px;
    align-content: center;
}

input[type='radio'], input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

textarea {
    height: 80px;
}

#botao-form {
    display: flex;
}

input[type='submit'], input[type='reset'] {
    margin: 10px;
    background-color: #71C5E8;
    border: 0;
    border-radius: 5px;
}

input[type='reset'] {
    background-color: rgb(236, 118, 118);
}